In [2]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('../data/data.csv')  # or adjust path if needed
df.head()

  Transaction_ID    User_ID  ...  Is_Weekend Fraud_Label
0      TXN_33553  USER_1834  ...           0           0
1       TXN_9427  USER_7875  ...           0           1
2        TXN_199  USER_2734  ...           0           1
3      TXN_12447  USER_2617  ...           0           1
4      TXN_39489  USER_2014  ...           1           1

[5 rows x 21 columns]

In [7]:
print("Initial shape:", df.shape)

Initial shape: (50000, 21)

In [9]:
from sklearn.model_selection import train_test_split

y = df['Fraud_Label']
X = df.drop(columns=['Fraud_Label'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)

Train shape: (40000, 20)
Test shape: (10000, 20)

In [10]:
#Handle missing values
print("Missing values:\n", df.isnull().sum())
df = df.dropna()

Missing values:
 Transaction_ID                  0
User_ID                         0
Transaction_Amount              0
Transaction_Type                0
Timestamp                       0
Account_Balance                 0
Device_Type                     0
Location                        0
Merchant_Category               0
IP_Address_Flag                 0
Previous_Fraudulent_Activity    0
Daily_Transaction_Count         0
Avg_Transaction_Amount_7d       0
Failed_Transaction_Count_7d     0
Card_Type                       0
Card_Age                        0
Transaction_Distance            0
Authentication_Method           0
Risk_Score                      0
Is_Weekend                      0
Fraud_Label                     0
dtype: int64

In [11]:
#  Convert Timestamp to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

# Extract new time features
df['Hour'] = df['Timestamp'].dt.hour
df['DayOfWeek'] = df['Timestamp'].dt.dayofweek
df['Month'] = df['Timestamp'].dt.month

In [12]:
# Drop unnecessary columns
drop_cols = ['Transaction_ID', 'User_ID', 'Timestamp']
df.drop(columns=drop_cols, inplace=True)

In [13]:
categorical_cols = df.select_dtypes(include='object').columns.tolist()

le = LabelEncoder()
for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

In [14]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
numerical_cols.remove('Fraud_Label')

In [15]:
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [16]:
df.head()

   Transaction_Amount  Transaction_Type  ...  DayOfWeek  Month
0           -0.604147          1.338189  ...          0      8
1           -0.995285         -0.450619  ...          2      6
2           -0.713888          0.443785  ...          1      6
3            1.569711         -1.345022  ...          3     12
4           -0.690380          1.338189  ...          5     11

[5 rows x 21 columns]

In [17]:
df.to_csv('../data/processed_data.csv', index=False)  # Save the processed data